@import url(../sass/null.css);
body{
    font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
}
.container{
    max-width: 956px;
    margin: 0 auto;
}
.wrapper{
    display: flex;
    flex-direction: column;
    min-height: 100%;
}
.content{
    flex:1 1 auto;
}
//nav
.nav {
    padding: 8px 0;
min-height: 70px;
background: #A041DB;
    &__row {
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
    }

    &__image {
        
    //    background: #000;
       & img{
        // width: 100%; /* Ширина изображений */
        // height: 100%; /* Высота изображении */
        object-fit: cover; /* Вписываем фотографию в область */
        height: 70px;
        width: 70px;
        border-radius: 100px; /* Радиус скругления */
        // border: 3px solid green; /* Параметры рамки */
        // box-shadow: 0 0 7px #666; /* Параметры тени */
       }
    }

    &__menu {
        display: flex;
        flex-wrap: wrap;
        align-items:center ;
        margin: 0 -10px;
        padding-right: 10px;
    }
    &__column{
        padding: 0 10px;
    }
    &__items {
        display: inline-block;
        flex: 0 1 96px;
        min-width: 96px;
        min-height: 31px;
        background: #D9D9D9;
        text-align: center;
        padding-top: 10px;

    }
}
//content
.content{
    background: #E1ABAB;
    padding: 172px 0px 249px 0px;
}
.content {
    &__item{
        border:1px solid black;
        // background:white;
        padding: 10px 40px;
        background: #D9D9D9;
        // max-width: 151px;
    }
    &__row {
        display: flex;
        flex-wrap: wrap;
        margin: 0 -10px;
    }

    &__column {
        
        flex: 0 1 25%;
        padding: 0 10px;
        margin-bottom: 20px;
    }

    &__image {
        // text-align: center;
        margin-bottom: 20px;
        & img{
            
            border: 3px black solid;
            width: 100%; /* Ширина изображений */
            height: 100%; /* Высота изображении */
            // object-fit: cover; /* Вписываем фотографию в область */
            height: 93px;
            max-width: 151px;
            // border-radius: 100px; /* Радиус скругления */
            border: 3px solid green; /* Параметры рамки */
            box-shadow: 0 0 7px #666; /* Параметры тени */
           }
        

    }

    &__text {
        max-width: 140px;
        font-family: Arial;
        font-size: 10px;
        font-weight: 400;
        line-height: 11px;
        letter-spacing: 0em;
        text-align: left;

    }
}
.container {
}


.content {

    &__column--big {
        padding: 0 10px;
        flex: 0 1 50%;
        
    }

    &__item--big {
        border:1px solid black;
        // background:white;
        padding: 10px 20px;
        background: #D9D9D9;
    }
}
.item {

    &__row--big {
        display: flex;
    }

    &__image--big {
        flex: 0 0 176px;
        & img{
            
            border: 3px black solid;
            // width: 100%; /* Ширина изображений */
            // height: 100%; /* Высота изображении */
            object-fit: cover; /* Вписываем фотографию в область */
            height: 150px;
            max-width: 176px;
            // border-radius: 100px; /* Радиус скругления */
            border: 3px solid green; /* Параметры рамки */
            box-shadow: 0 0 7px #666; /* Параметры тени */
           }

    }

    &__text--big {
        padding-left: 47px;
        font-family: 'Arial';
        font-style: normal;
        font-weight: 400;
        font-size: 20px;
        line-height: 23px;
    }
}


//footer
.footer {
    & body{
        // max-width: 1000px;
    }
background: #A041DB;
    &__row {
        
        display: flex;
        justify-content: center;
        align-items: center;
        height: 68px;
    }

    &__items {
        padding: 0 10px 3px 10px;
        background: tomato;
        flex: 0 1 468px;
        height: 27px;
    }

    &__text {
       text-align: center;
       padding: 10px 0px;
    }
}


// & img{
//     border: 3px black solid;
//     width: 100%; /* Ширина изображений */
//     height: 100%; /* Высота изображении */
//     object-fit: cover; /* Вписываем фотографию в область */
//     height: 93px;
//     width: 151px;
//     border-radius: 100px; /* Радиус скругления */
//     border: 3px solid green; /* Параметры рамки */
//     box-shadow: 0 0 7px #666; /* Параметры тени */
//    }
