@import url(../sass/null.css);
//nav
.nav {
    padding: 10px;
background: #793bf5;
flex: 1 1 auto;
    &__row {
        display: flex;
        justify-content: space-between;
    }

    &__image {
        width: 50px;
        height: 50px;
        border-radius: 50%;
        background-color: #d9f53b;
    }  
}
.container {
    max-width: 1180px;
    margin: 0 auto;
    // border: 1px red solid;
}
.nav-menu {
display: flex;
align-items: center;

    &__item {
        width: 100px;
        height: 20px;
        background: #d9f53b;
        margin: 0 10px;
        display: flex;
      
    }
}
//content
.container-row {
    display: flex;
    margin: 0 -10px;
}
.columns{
    flex: 0 0 33.33%;
    padding: 0 10px;
}
.block{
  

}
.block1 {
    padding: 20px 30px 20px 30px;
    border: 1px red solid;

   
    background:rgb(72, 233, 245);
    color: white;
   
    font-size: 14px;
    margin-bottom: 30px;
}
.block2 {
    background: rgb(72, 233, 245);
    border:1px yellow solid;


    flex: 0 1 50%;
   
    color:white;
    font-size: 14px;
}
.row2{
    justify-content: center;
}
.image1{
    margin: 0 auto;
    margin-bottom: 10px;
    min-width: 10px;
    min-height: 10px;
    max-width: 200px;
    max-height: 150px;

 background: #000;
}
.image2{

}
.text{

}