@import url(/css/null.css);
.wrapper {
    background: rgb(73, 71, 71);
    min-height: 100%;
    display: grid;
    grid-template: minmax(100px,auto) 1fr minmax(70px,auto) / 1fr;
    grid-template-areas: "header" 
                        "main" 
                        "footer";
   
}
.header {
    display: grid;
    grid-template: 1fr/1fr minmax(300px,auto) minmax(1100px,auto) 1fr;
    grid-area: header;
    padding: 15px;
background: rgb(150, 91, 91);
align-items: center;
margin-bottom: 30px;
		&__logo {
            width: 70px;
            height: 70px;
            border-radius: 50%;
            background: #fff;
            grid-column: 2/3;
		}

		&__menu {
          
		}

		&__list {
            display: grid;
            grid-auto-flow: column;
            justify-items: end;
            grid-column: 3/4;
		}

		&__link {
            color: #fff;
            font-size: 18px;
		}
}
.main {
    display: grid;
    grid-template: 1fr/1fr minmax(auto,300px) minmax(auto,1100px) 1fr;
    grid-area: main;
    margin-bottom: 30px;
}
.sidebar {
grid-column: 2 / 3;
padding: 15px 30px;
background: rgb(81, 173, 173);

		&__menu {
          
		}

		&__list {
           
            li{
                margin-bottom: 15px;
            }
		}

		&__link {
            color: #fff;
            font-size: 20px;
            

		}
}
.content {
   
grid-column: 3 / 4;
padding: 0px 0px 0px 30px;
		&__title {
            font-size: 34px;
            color: #fff;
            margin-bottom: 30px;
		}

		&__gallery {
		}
}
.gallery {
margin-bottom: 30px;
		&__title {
            font-size: 24px;
            color: #fff;
            margin-bottom: 30px;
		}

		&__items {
            display: grid;
            gap: 10px;
            grid-template-columns: repeat(auto-fit,minmax(250px,1fr));
           
           
		}

		&__item {
            position: relative;
            padding: 0px 0px 85% 0px;
            img{
                position: absolute;
                top: 0;
                left: 0;
                width: 100%;
                height: 100%;
                object-fit: cover;
            }
		}

		&__item-big {
            grid-row: span 2;
            grid-column: span 2;
		}
}
.products {

		&__title {
            font-size: 24px;
            margin-bottom: 30px;
            color: #fff;
		}

		&__items {
            display: grid;
            grid-template-columns: repeat(auto-fit,minmax(250px, 1fr));
            row-gap: 50px;
            column-gap: 30px;
            grid-auto-rows: 1fr;
		}

		&__item {
            display: grid;
            grid-auto-flow: row;
            grid-template: auto 1fr minmax(40px,auto)/ 1fr;
		}

		&__image {
            position: relative;
            padding: 0px 0px 95% 0px;
            margin-bottom: 15px;
            img{
                position: absolute;
                top: 0;
                left: 0;
                width: 100%;
                height: 100%;
                object-fit: cover;
            }
		}

		&__name {
            color: #fff;
            font-size: 18px;
            margin-bottom: 15px;
		}

		&__button {
            justify-self: start;
            padding: 15px;
            color: #fff;
            text-transform: uppercase;
            background: rgb(55, 108, 161);
		}
}
.footer {
    grid-area: footer;
background: rgb(177, 123, 182);
display: grid;
grid-template: 1fr/1fr minmax(auto,300px) minmax(auto,1100px) 1fr;
align-items: center;
    &__copy {
        grid-column: 2/3;
        font-size: 18px;
        color: #fff;

    }

    &__text {
        grid-column: 3/4;
        font-size: 18px;
        color: #fff;
        
        justify-self: end;
    }
}
