@import url(../sass/null.css);
body {
  font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
}

.container {
  max-width: 1180px;
  margin: 0 auto;
}

.title {
  font-size: 30px;
  line-height: 36px;
  color: #445161;
}

.wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  min-height: 100%;
}

.content {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
}

.hi {
  padding: 47.5px 0px;
  background: #445162;
}
.hi__row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.hi__body {
  color: white;
}
.hi__title {
  font-size: 60px;
  line-height: 47px;
  text-shadow: 0px 1px 0px rgba(0, 0, 0, 0.3);
  margin: 0px 0px 38px 0px;
}
.hi__list li {
  background: url("../img/galochka.png") 0 8px no-repeat;
  padding: 0px 0px 0px 38px;
  line-height: 36px;
  font-size: 20px;
  text-shadow: 0px 1px 0px rgba(0, 0, 0, 0.3);
}

.what {
  padding: 48px 0;
}
.what__row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.what__image {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 430px;
          flex: 0 0 430px;
}
.what__image img {
  max-width: 100%;
}
.what__body {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
  padding-left: 38px;
}
.what__title {
  margin-bottom: 30px;
}
.what__text {
  font-size: 16px;
  line-height: 24px;
  color: #333333;
}
.what__text p {
  margin-bottom: 25px;
}
.what__text p:last-child {
  margin-bottom: 0px;
}

.columns {
  padding: 45.5px 0px 15.5px 0px;
  background: #f5f5f5;
}
.columns__title {
  text-align: center;
  margin-bottom: 30px;
}
.columns__row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin: 0 -8px;
}
.columns__column {
  -webkit-box-flex: 0;
      -ms-flex: 0 1 50%;
          flex: 0 1 50%;
  margin-bottom: 30px;
  padding: 0 8px;
}

.item__row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.item__image {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 200px;
          flex: 0 0 200px;
}
.item__image img {
  max-width: 100%;
}
.item__body {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
  padding-left: 15px;
}
.item__title {
  font-size: 24px;
  line-height: 30px;
  color: #445161;
}
.item__text {
  font-size: 16px;
  line-height: 24px;
  color: #333333;
}

.vertical {
  padding: 50px 0;
}
.vertical__title {
  text-align: center;
  font-size: 30px;
  line-height: 36px;
  color: #445161;
  margin-bottom: 30px;
}
.vertical__body {
  max-width: 990px;
  margin: 0 auto;
}
.vertical__row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 0 -22.5px;
}
.vertical__column {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-flex: 0;
      -ms-flex: 0 1 33.333%;
          flex: 0 1 33.333%;
  padding: 0 22.5px;
}

.subject {
  border-radius: 5px;
  background: #445162;
  border: 1px solid #445162;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.subject__row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}
.subject__subtitle {
  text-align: center;
  color: white;
  font-size: 24px;
  line-height: 30px;
  text-transform: uppercase;
  padding: 5px 0;
}
.subject__title {
  font-size: 40px;
  background: #fff;
  text-align: center;
  font-family: Arial;
  line-height: 30px;
  color: #445162;
  padding: 15px;
}
.subject__text {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
  padding: 20px;
  font-size: 14px;
  line-height: 24px;
  color: #ffffff;
}
.subject__text p {
  margin-bottom: 15px;
}
.subject__text p:last-child {
  margin-bottom: 0;
}
.subject__btn {
  margin: 0px 20px;
  height: 40px;
  display: block;
  text-align: center;
  font-size: 18px;
  line-height: 18px;
  font-weight: 700;
  color: #445161;
  background: #fff;
  border-radius: 5px;
  padding: 10px;
  margin-bottom: 30px;
}

.footer {
  background: #f5f5f5;
}
.footer__row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 65px;
}
.footer__text {
  font-size: 12px;
  line-height: 24px;
  letter-spacing: 0.025em;
  color: #445162;
}